body {
  position: relative;
  padding-top: 90px;
  /*
  background-color: #fff;
  background-image: url("http://www.v2ex.com/static/img/bg.png");
  */
}

ul, li {
    list-style: none;
padding: 0px;
margin: 0px;
}

.show-grid {
    background-color: #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    line-height: 30px;
    min-height: 30px;
}

.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}

.request {
    clear: both;
    margin-bottom: 20px;
}
.request hr {
    clear: both;
    padding-top: 20px;
}
.request .meta {
    color: #AAAAAA;
    float: left;
    margin-left: -180px;
    position: absolute;
    text-align: right;
    width: 160px;
}
.request .meta a {
    color: #AAAAAA;
}
.request .pills {
    float: right;
    margin-bottom: 0;
}
.request .command {
    display: inline;
}
.request .view {
    clear: both;
}
.request .contentinfo.note {
    color: #AAAAAA;
    float: right;
    font-size: 16px;
    margin-right: 5px;
    text-align: right;
}
.request .headers-view li {
    color: #404040;
    margin-left: 130px;
}
.request .headers-view li div {
    color: gray;
    float: left;
    font-weight: bold;
    margin-left: -130px;
    margin-right: 10px;
    text-align: right;
    width: 120px;
}
.request .content-view li {
    color: #404040;
    margin-left: 130px;
}
.request .content-view li div {
    color: gray;
    float: left;
    font-weight: bold;
    margin-left: -130px;
    margin-right: 10px;
    text-align: right;
    width: 120px;
}

