<html>
<head>
<style type="text/css">
  .request .meta {
    color: #AAAAAA;
    float: left;
    margin-left: -180px;
    position: absolute;
    text-align: right;
    width: 160px;
}

</style>

  </head>
<body>
<div id="1jpx8f" class="request">

      <div class="meta">
        <h2><a href="#1jpx8f">#1jpx8f</a></h2>
        <p>2012-05-05 19:22:30.946201<br>50.57.128.197</p>
      </div>

      <h2 class="command">POST /1jm40ph1</h2>
      <ul class="pills">
        <li><a onclick="toggleView('1jpx8f')" href="javascript:void(0)">Headers</a></li>
        <li class="active"><a onclick="toggleView('1jpx8f')" href="javascript:void(0)">Content</a></li>
      </ul>

      <div class="view">
        <div class="content-view note contentinfo">
          application/x-www-form-urlencoded<br>
          2158 bytes
        </div>
        <ul class="content-view unstyled">
          
          <li><div>payload</div>{
  "after": "a02331f3abe3f581753461223a1da8e4e1e6d2e0", 
  "before": "2ab0818bd966d3a3bc1458af5f36ab2bab866c0e", 
  "commits": [
    {
      "added": [
        "lib/README.md"
      ], 
      "author": {
        "email": "CJ@Kikiricine-PC.(none)", 
        "name": "CJ"
      }, 
      "committer": {
        "email": "CJ@Kikiricine-PC.(none)", 
        "name": "CJ"
      }, 
      "distinct": true, 
      "id": "a02331f3abe3f581753461223a1da8e4e1e6d2e0", 
      "message": "3", 
      "modified": [], 
      "removed": [], 
      "timestamp": "2012-05-05T12:22:16-07:00", 
      "url": "https://github.com/shitou/cdev/commit/a02331f3abe3f581753461223a1da8e4e1e6d2e0"
    }
  ], 
  "compare": "https://github.com/shitou/cdev/compare/2ab0818...a02331f", 
  "created": false, 
  "deleted": false, 
  "forced": false, 
  "head_commit": {
    "added": [
      "lib/README.md"
    ], 
    "author": {
      "email": "CJ@Kikiricine-PC.(none)", 
      "name": "CJ"
    }, 
    "committer": {
      "email": "CJ@Kikiricine-PC.(none)", 
      "name": "CJ"
    }, 
    "distinct": true, 
    "id": "a02331f3abe3f581753461223a1da8e4e1e6d2e0", 
    "message": "3", 
    "modified": [], 
    "removed": [], 
    "timestamp": "2012-05-05T12:22:16-07:00", 
    "url": "https://github.com/shitou/cdev/commit/a02331f3abe3f581753461223a1da8e4e1e6d2e0"
  }, 
  "pusher": {
    "name": "none"
  }, 
  "ref": "refs/heads/dev", 
  "repository": {
    "created_at": "2012/05/05 09:53:25 -0700", 
    "description": "", 
    "fork": false, 
    "forks": 1, 
    "has_downloads": true, 
    "has_issues": true, 
    "has_wiki": true, 
    "name": "cdev", 
    "open_issues": 0, 
    "owner": {
      "email": "weicongju@gmail.com", 
      "name": "shitou"
    }, 
    "private": false, 
    "pushed_at": "2012/05/05 12:22:28 -0700", 
    "size": 132, 
    "url": "https://github.com/shitou/cdev", 
    "watchers": 1
  }
}</li>
          
        </ul>
        <ul style="display: none;" class="headers-view unstyled">
          
          <li><div>Content-Length</div>2158</li>
          
          <li><div>X-Github-Event</div>push</li>
          
          <li><div>Connection</div>keep-alive</li>
          
          <li><div>Accept</div>*/*</li>
          
          <li><div>Host</div>requestb.in</li>
          
          <li><div>Content-Type</div>application/x-www-form-urlencoded</li>
          
        </ul>
      </div>
      <hr>
    </div>

    </body>

      </html>