{% extends "base.html" %}
{% block content %}
<div class="span10 offset1">
    <div id="1jpx8f" class="request">
        <div class="meta">
            <h2>
                <a href="#1jpx8f">
                    #1jpx8f
                </a>
            </h2>
            <p>
                2012-05-05 19:22:30.946201
                <br>
                50.57.128.197
            </p>
        </div>
        <h2 class="command">
            Create1
        </h2>
        <ul class="pills">
            <li>
                <a onclick="toggleView('1jpx8f')" href="javascript:void(0)">
                    Headers
                </a>
            </li>
            <li class="active">
                <a onclick="toggleView('1jpx8f')" href="javascript:void(0)">
                    Content
                </a>
            </li>
        </ul>
        <div class="view">
            <div class="content-view note contentinfo">
                application/x-www-form-urlencoded
                <br>
                2158 bytes
            </div>
            <ul class="content-view unstyled">
                <li>
                    <div>
                        payload
                    </div>
                    abc
                </li>
            </ul>
            <ul style="display: none;" class="headers-view unstyled">
                <li>
                    <div>
                        Content-Length
                    </div>
                    2158
                </li>
                <li>
                    <div>
                        X-Github-Event
                    </div>
                    push
                </li>
                <li>
                    <div>
                        Connection
                    </div>
                    keep-alive
                </li>
                <li>
                    <div>
                        Accept
                    </div>
                    */*
                </li>
                <li>
                    <div>
                        Host
                    </div>
                    requestb.in
                </li>
                <li>
                    <div>
                        Content-Type
                    </div>
                    application/x-www-form-urlencoded
                </li>
            </ul>
        </div>
        <hr>
    </div>
</div>
{% endblock %}
